# Image files (generated/deleted)
htmlfiles/assets/environment/custom_tiles/caves_boss.png
htmlfiles/assets/environment/custom_tiles/caves_quest.png
htmlfiles/assets/environment/custom_tiles/city_boss.png
htmlfiles/assets/environment/custom_tiles/city_quest.png
htmlfiles/assets/environment/custom_tiles/halls_special.png
htmlfiles/assets/environment/custom_tiles/prison_exit.png
htmlfiles/assets/environment/custom_tiles/prison_quest.png
htmlfiles/assets/environment/custom_tiles/sewer_boss.png
htmlfiles/assets/environment/custom_tiles/weak_floor.png